body {
   font-family: hack;
   margin: 0;
   display: flex;
}

.svgIcon { /* svg on an img tag */
}

#sideNav {
   flex: 1;
   color: beige;
   height: 100vh;
   display: flex;
   flex-direction: column;
   font-size: 20px;
   background-color: #0c0c56;
   opacity: 1;
   background-image:  linear-gradient(30deg, #23256b 12%, transparent 12.5%, transparent 87%, #23256b 87.5%, #23256b), linear-gradient(150deg, #23256b 12%, transparent 12.5%, transparent 87%, #23256b 87.5%, #23256b), linear-gradient(30deg, #23256b 12%, transparent 12.5%, transparent 87%, #23256b 87.5%, #23256b), linear-gradient(150deg, #23256b 12%, transparent 12.5%, transparent 87%, #23256b 87.5%, #23256b), linear-gradient(60deg, #23256b77 25%, transparent 25.5%, transparent 75%, #23256b77 75%, #23256b77), linear-gradient(60deg, #23256b77 25%, transparent 25.5%, transparent 75%, #23256b77 75%, #23256b77);
   background-size: 20px 35px;
   background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}

#NavLogo {
   flex: 1;
}

#navLogo > h1 > img {
   height: 1em;
   -webkit-filter: invert(.75) !important; /* safari 6.0 - 9.0 */
   filter: invert(.75) !important;
}

#navItems {
   flex: 3;
}

#navExtra {
   flex: 1;
}


.navList {
   list-style: none;
}

.itemLogo {
   height: 1em;
   -webkit-filter: invert(.75) !important; /* safari 6.0 - 9.0 */
   filter: invert(.75) !important;
}

main {
   flex: 4;
   height: 100vh;
   display: flex;
   flex-direction: column;
   background-color: beige;
}

#topBar {
   flex: 1;
   display: flex;
   flex-direction: column;
}

#searchBar {
   flex: 0.5;
   display: flex;
}

#actualSearchBar {
   background-color: grey;
   border: transparent;
   border-radius: 25px;
   flex: 2;
   display: flex;
   margin: 10px;
}

#actualSearchBar > img {
   height: 2em;
   margin: 5px;
   flex: 0.5;
   -webkit-filter: invert(.75) !important; /* safari 6.0 - 9.0 */
   filter: invert(.75) !important;
}

#searchInput {
   color: white;
   font-size: 20px;
   background-color: transparent;
   margin-top: 0;
   border: none;
   flex: 9;
}

#searchInput:focus {
   outline: none;
}

#userSpace {
   flex: 1;
   display: flex;
   justify-content: flex-end;
}

#userSpace > .userImage {
   border-radius: 50%;
   height: 3em;
   flex: 0.5;
   margin-top: 4px;

}

#userSpace > img {
   height: 2em;
   margin-top: 15px;
   flex: 1.5;
}

#userSpace > .userImage:hover {
   cursor: pointer;
}

#userSpace > p {
   flex: 3;
   margin-left: 10%;
   margin-top: 5%;
   font-weight: 600;
}

#userBar {
   flex: 0.65;
   display: flex;
}

#userInfo {
   flex: 1;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}

#userInfo > img {
   margin-left: 10%;
   height: 5em;
   border-radius: 50%;
   flex: 1;
}

#userInfo > .textContent {
   flex: 6;
   margin-left: 10%;
}
.textContent > .welcomeMsg {
   margin-bottom: 0;
}

.textContent > .userName {
   margin-top: 0;
   font-size: 1.5em;
}

#userActions {
   flex: 1;
   display: flex;
}

#userActions > button {
   flex: 1;
   background-color: crimson;
   border-radius: 25px;
   margin-top: 5%;
   margin-bottom: 5%;
   margin-right: 5%;
   margin-left: 5%;
   border: none;
   color: ivory;
   font-weight: 600;
}

#content {
   flex: 4;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: repeat(2, 1fr);
}

#content > .contentItem > h1 {
   margin-left: 10px;
   font-size: 1em;
}

#proyects {
   grid-area: 1/1/3/5;
   display: flex;
   flex-direction: column;
}

#proyectsContent {
   flex: 1;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 10px;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 10px;
}

.proyect {
   border: 1px solid black;
   border-radius: 10px;
   background-color: whitesmoke;
}

#Anouncements {
   grid-area: 1/5/2/5;
   display: flex;
   flex-direction: column;
}

#anouncementsContent {
   display: flex;
   flex-direction: column;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 10px;
   flex: 1;
}

#anouncementsContent > .anouncement {
   flex: 1;
   border-left: 1px solid black;
   border-right: 1px solid black;
   background-color: whitesmoke;
}

#anouncementsContent > #firstAnouncement {
   border-top: 1px solid black;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
}

#anouncementsContent > #lastAnouncement {
   border-bottom: 1px solid black;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

#Trending {
   grid-area: 2/5/3/5;
   display: flex;
   flex-direction: column;
}

#trendingContent {
   display: flex;
   flex-direction: column;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 10px;
   flex: 1;
}

#trendingContent > .trend {
   flex: 1;
   background-color: whitesmoke;
   border-right: 1px solid black;
   border-left: 1px solid black;
}

#trendingContent > #firstTrend {
   border-top: 1px solid black;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
}

#trendingContent > #lastTrend {
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-bottom: 1px solid black;
}

